<div class="home-banner">
	<img src="assets/img/home-banner.jpg" class="home-banner-img" alt="Home banner">
	<div class="home-banner__caption">
		<h1>
			<span>Safety</span>
		  	<span><i>in the</i> Sky</span>
		   	<span>Starts <i>on the Ground</i></span>
		 </h1>
	</div>
</div>
<div class=" gobal-after">
<div class="container container_custom">
	<div class="col-md-6 gobal-after-absolute">
		<h2>Landing Gear MRO</h2>
		<div class="aboslute-img">
			<img src="assets/img/Global-MLG.png" alt="">
		</div>
	</div>
	<div class="col-md-6">
		<p>Aviatechnik Corporation is a TCCA, EASA approved Landing Gear MRO and Bombardier Aerospace approved Supplier for Commercial Aircraft. MRO is based in Toronto, Canada with operations worldwide that specializes in Landing Gear Repair/Overhaul and Lease/Exchange services for Regional and Business aircraft.
		</p>
		<p>In addition Aviatechnik provides maintenance on Aircraft System Components and Composite structure.</p>
		<p>The aircraft platforms being serviced are by the following aircraft manufacturers: Airbus, ATR, Bombardier, British Aerospace, Dassault, Embraer, Fokker, Fairchild Dornier.</p>
	</div>
</div>
</div>
<div class="blue-gradient-bg">
	<div class="container customer-benefits container_custom">
		<h2 class="text-center">Customer Benefits</h2>
		<ul class="col-md-4 customer-benefits__list">
			<li>Airworthiness Data Management</li>
			<li>Life Cycle Support</li>
			<li>OEM Approved Repair Design</li>
			<li>Cost Saving PMA/PDA Parts</li>
		</ul>
		<ul class="col-md-4 customer-benefits__list">
			<li>Extensive Inventory</li>
			<li>FOC AOG Support</li>
			<li>Outstanding TAT</li>
			<li>Over 30 Years of Technical Experience</li>
		</ul>
		<ul class="col-md-4 customer-benefits__list">
			<li>Lease /Exchange/Outright Solutions for Landing Gears</li>
			<li>Lease /Exchange/Outright Solutions for A/C System Components</li>
			<li>Lease /Exchange/Outright Solutions for Composites</li>
		</ul>
	</div>
</div>