<header class="header">
	<div class="row">
		<div class="container">
		 	<div class="col-md-6 col-lg-5 col-sm-8 col-xs-8">
				<a href="" class="logo">
					<img src="../../assets/img/logo.png" alt="Aviatechnik logo">
				</a>
			</div>
			<div class="header-nav col-md-6 col-lg-7 col-sm-4 col-xs-4">
				
				<ul class="header-nav_list">
		<li class=""><a routerLink="home">Home</a></li>
		<li class=""><a routerLink="/about-us">About us</a></li>
		<li class=""><a href="/services">Services</a></li>
		<li class=""><a href="/capabilities">Capabilities Search</a></li>
		<li class=""><a href="/media">Media</a></li>
		<li class=""><a href="/contact-us">Contact Us</a></li>
				</ul>
				<button class="btn btn-primary navbar-btn pull-right mobile-btn" data-toggle="collapse" data-target="#menu">
			  		<span></span>
			  		<span></span>
			  		<span></span>
				</button>
			</div>
		</div>
	</div>

<div id="menu" class="panel panel-default panel-collapse collapse">
  <div class="container">
    <ul class="nav nav-pills nav-stacked">
		<li class=""><a routerLink="''">Home</a></li>
		<li class=""><a routerLink="/about-us">About us</a></li>
		<li class=""><a href="/services">Services</a></li>
		<li class=""><a href="/capabilities">Capabilities Search</a></li>
		<li class=""><a href="/media">Media</a></li>
		<li class=""><a href="/contact-us">Contact Us</a></li>
    </ul>
  </div>
</div>

</header>

